fastapi==0.115.0
psycopg2-binary
uvicorn
phonenumbers==8.13.45
pydantic==2.9.2
pydantic[email]
pyrebase==3.0.27
pytest==8.3.3
python-dotenv==1.0.1
python_bcrypt==0.3.2
SQLAlchemy==2.0.35
bcrypt==4.1.3
